---
import Icon from "astro-icon";
import { socials } from "@util/socials";
---

<div class="flex flex-wrap gap-2 mb-4">
  {
    socials.map((social) => (
      <a
        href={social.url}
        target="_blank"
        rel="noreferrer"
        aria-label={"ErikGXDev's " + social.name + " Profile"}
        class="flex bg-gx-gray-900 hover:bg-gx-gray-800/80 transition-colors p-2 rounded-full gap-1 flex-row-reverse"
      >
        <Icon name={social.icon} size="24" />
      </a>
    ))
  }
</div>
