---
import Navbar from "@components/nav/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Footer from "@components/nav/Footer.astro";
import BlogCard from "@components/blog/BlogCard.astro";
import { getUniqueTags, toTitleCase } from "@util/util";
import Tags from "@components/Tags.astro";
import Main from "@components/Main.astro";
import { slide } from "astro:transitions";

interface Props {
  tag: string;
}

const { tag } = Astro.props;

const collection = await getCollection("blog");

const tags = getUniqueTags(collection);

const posts = collection.filter(
  (post) => tag == "all" || post.data.tags.includes(tag),
);
---

<Layout title="Blog">
  <Navbar />
  <Main>
    <h1 class="text-4xl font-bold" transition:animate="none">
      <span
        class="bg-gradient-to-r from-amber-500 to-gx-rose-500 bg-clip-text text-transparent"
      >
        {toTitleCase(tag)}
      </span>{" "}
       Blog Posts
    </h1>
    <Tags {collection} curr={tag} path="blog" />
    <section transition:animate="slide">
      <ul class="grid grid-cols-1 gap-4">
        {posts.map((post) => <BlogCard {post} />)}
      </ul>
    </section>
  </Main>
  <Footer />
</Layout>
