---
import ShortSocials from "@components/socials/ShortSocials.astro";
import Icon from "astro-icon";
---

<footer
  class="mt-auto flex justify-between items-center py-8 border-t border-t-gx-gray-800"
  transition:animate="none"
>
  <p class="text-gx-gray-500 pb-4">Copyright © 2023 | All rights reserved.</p>
  <ShortSocials />
</footer>
